In [ ]:
Db access:

In [ ]:
DB api:

In [ ]:
1 Connect to db  connect(db= "",user="", password = "",host ="")
2 Cursor cursor
3 execute("")
4 close the connection

In [ ]:
Relational db : Strcture of tables
Non relational db :

In [ ]:
Database :
    Table1
        Row and columns 
    Table2

In [2]:
import sqlite3

In [4]:
conn = sqlite3.connect(database = "user")

In [5]:
cur = conn.cursor()

In [12]:
cur.execute("""CREATE TABLE IF NOT EXISTS USER1
    (ID INT PRIMARY KEY,
    FNAME CHAR(32),
    LNAME CHAR(32),
    EMAIL VARCHAR(32)) """)

In [18]:
try:
    cur.execute(""" INSERT INTO USER1 (ID,FNAME,LNAME,EMAIL) VALUES (101,"ab","c","ABC@XYZ.COM")""")
except sqlite3.IntegrityError:
    print("ID already exist ")

ID already exist

In [21]:
id = 102
first_name = 'pq'
last_name = 'r' 
email = 'pr@xyz.com'

try:
    cur.execute(""" INSERT INTO USER1 (ID,FNAME,LNAME,EMAIL) VALUES (?,?,?,?)""",(id,first_name,last_name,email))
except sqlite3.IntegrityError:
    print("ID already exist ")

ID already exist

In [22]:
try:
    cur.execute(""" INSERT INTO USER1 (ID,FNAME,LNAME,EMAIL) VALUES (103,"xy","c","xy@XYZ.COM")""")
    cur.execute(""" INSERT INTO USER1 (ID,FNAME,LNAME,EMAIL) VALUES (104,"pp","c","pp@XYZ.COM")""")
    cur.execute(""" INSERT INTO USER1 (ID,FNAME,LNAME,EMAIL) VALUES (105,"rr","c","rr@XYZ.COM")""")
except sqlite3.IntegrityError:
    print("ID already exist ")

In [33]:
cur.execute("SELECT * FROM USER1")

In [28]:
print(next(cur))
print(next(cur))

for row in cur:
    print(row)

(103, 'xy', 'c', 'xy@XYZ.COM')
(104, 'pp', 'c', 'pp@XYZ.COM')
(105, 'rr', 'c', 'rr@XYZ.COM')

In [32]:
print(cur.fetchone())
print(cur.fetchone())

(102, 'pq', 'r', 'pr@xyz.com')
(103, 'xy', 'c', 'xy@XYZ.COM')

In [34]:
print(cur.fetchall())

[(101, 'ab', 'c', 'ABC@XYZ.COM'), (102, 'pq', 'r', 'pr@xyz.com'), (103, 'xy', 'c', 'xy@XYZ.COM'), (104, 'pp', 'c', 'pp@XYZ.COM'), (105, 'rr', 'c', 'rr@XYZ.COM')]

In [35]:
cur.execute("UPDATE USER1 SET EMAIL = 'TT@XYZ.COM' WHERE ID = 102")

In [36]:
cur.execute("SELECT * FROM USER1 WHERE ID = 102")
print(next(cur))

(102, 'pq', 'r', 'TT@XYZ.COM')

In [37]:
cur.execute("DELETE FROM USER1 WHERE ID = 102")

In [38]:
cur.execute("SELECT * FROM USER1")
print(cur.fetchall())

[(101, 'ab', 'c', 'ABC@XYZ.COM'), (103, 'xy', 'c', 'xy@XYZ.COM'), (104, 'pp', 'c', 'pp@XYZ.COM'), (105, 'rr', 'c', 'rr@XYZ.COM')]

In [39]:
conn.commit()

In [40]:
conn.close()

In [ ]:
postgres pycopg2

In [ ]:
pip install psycopg2

In [41]:
import psycopg2

In [42]:
conn = psycopg2.connect(database = "Resources", host ="localhost",user = "postgres" , password = "test@123")

In [43]:
cur = conn.cursor()

In [44]:
cur.execute("SELECT * FROM VIDEO")

In [45]:
print(cur.fetchall())

[(1, 'python', 1000, datetime.date(2019, 2, 11))]

In [61]:
try:
    cur.execute(""" INSERT INTO VIDEO(ID,TITLE,VIEWS,DATE) VALUES(2, 'LOOPS' ,2500, '2019-01-01' )""")
except psycopg2.InternalError:
    print("Executing rollback")
    conn.rollback()

In [56]:
conn.rollback()

In [62]:
conn.commit()

In [ ]:
Database :
    Collections :
        documents

In [ ]:
collections 
shutil
psutil 
datetime