In [3]:
print("hi")

hi

In [7]:
print("Python")

Python

### Modes of execution :
> 1. Interactive mode cmd python >>> quit()
> 2. Scripting mode file_name.py cmd python filename.py
> 3. IDE :
        - Jupyter : ctrl + enter , shift + enter 
        
        - Sublime : ctrl s , ctrl b

In [9]:
print("Sample string ")

Sample string

### Data types:
> 1. int 10 25 2566666666 => Immutable not iterable  
> 2. float 10.25555 45.2222555 => Immutable not iterable
> 3. str 'Python' "Java" """Python sample string""" => Immutable - iterable  
> 4. list [10,20,30,40,"Python",[100,200,300,400]] - mutable => add update and delete the elements -iterable 
> 5. tuple (10,20,30,"Python",(100,200,300,500)) - immutable - iterable 
> 6. dict {"name":"abc","email":"abc@gmail.com","contact":"7123456789"} - mutable - iterable 
> 7. set {10,20,30,40,50} => mutable  - iterable 
> 8. bool True False => immutable  -no iterable

In [14]:
num1 = 100
print(num1,type(num1))

100 <class 'int'>

In [16]:
s = "Python string"
print(s,type(s))

Python string <class 'str'>

In [17]:
l = [10,20,30,40,50,60]
print(l,type(l))

[10, 20, 30, 40, 50, 60] <class 'list'>

In [18]:
d = {1:1,2:4,3:9,4:16}
print(d,type(d))

{1: 1, 2: 4, 3: 9, 4: 16} <class 'dict'>

In [19]:
num1 = 100
print(num1,type(num1))

num1 = "Python"
print(num1,type(num1))

100 <class 'int'>
Python <class 'str'>

In [20]:
num1 = 100
print(id(num1))

1930197152

In [22]:
num1 = 100
print(num1,id(num1))

num1 = 101
print(num1,id(num1))

100 1930197152
101 1930197184

In [ ]:
100 7152
101 7184 num1

In [ ]:
101
num1
10001

In [27]:
num1 = 257
print(id(num1))

num1 = 258
print(id(num1))

num2 = 257
print(id(num2))

2434766229584
2434766566736
2434766229840

In [ ]:
0-256

In [30]:
l = [10,20,30,"python"]
print(id(l))
l.append(40)
print(l)
print(id(l))

2434765807368
[10, 20, 30, 'python', 40]
2434765807368

In [31]:
s = "Python"
print(id(s))
s = "java"
print(id(s))

2434725778408
2434725724208

In [32]:
num1 = num2 = 100
print(num1,num2)

100 100

In [34]:
num1 ,num2 = 100,200
print(num1,num2)

num1,num2 = num2,num1
print(num1,num2)

100 200
200 100

In [37]:
num5 = 5

SyntaxError: invalid syntax (<ipython-input-37-6e419fbe190e>, line 1)

### Operators
1 Arithmetic operators +,-,*,/,// - floor division,% - mod ,**
2 Comparison Operators  ==,!=,<,>,<= ,>= True/False
3 Identity Operators is is not 
4 Membership operators in not in 
5 logical operators and or not 
6 Assignment operators =,+=,-=,/=,*=

In [39]:
num1 = 1000
print(id(num1))

num1 = 1001
print(id(num1))

2434766229648
2434766229872

In [45]:
print(10 / 3)
print(10 // 3)
print(10 % 3)
print(25 ** 0.5)

3.3333333333333335
3
1
5.0

In [47]:
num1 = 100
num2 = 101
print(num1 == num2)

False

In [50]:
l1 = [10,20,30]
l2 = [10,20,30,40]
print(l1 != l2)

True

In [55]:
num1 = 1000
num2 = 1000
print(num1 == num2)
print(num1 is num2)

True
False

In [59]:
l1 = [10,20,30]
l2 = [10,20,30]
l2 = l1
print(l1 == l2)
print(l1 is not l2)

True
False

In [78]:
l = [10,20,30,40,50]
d = {1:1,2:4,3:9,4:16}
# print(400 in l)
print('4' in '400')
# print(16 in d)

True

In [68]:
print(not(10 == 10 or 10==11))

False

In [73]:
num1 = 100
num1 =num1 + 5
print(num1)

num1/=5
print(num1)

105
21.0

In [ ]:
== ,!=,<,> coamprison operators 
and or not logical operator
is is not identity 
in not in membership

In [ ]:
and T T => T 
or  F F => F 
not T

In [75]:
print(5%5 == 0 or 5 %3 ==0 )

True

In [ ]:
ireactive  >> cmd python >>> quit()
scripting  .py python filename.py 
ide  ctrl + enter

In [ ]:
Mutable :
    list 
    dict 
    set 
    
Immutable :
    int 
    float 
    str 
    bool 
    tuple

In [ ]:
iterable : str,list,tuple,dict ,set 
not iterable int ,float , bool

In [ ]:
num1 = 100,100 == 100
== ,is
in in dict => keys

In [ ]:
type()
id()

In [ ]:
num1 = 1000
num1 = 1000

In [ ]:
l1 = [10,20,30]
l2 = [10,20,30]