In [ ]:
Syntax:

if [condition]:
    stataments
elif [condition]:
    statemnts
else:
    statements

In [16]:
num1 = 401
num2 = 300

if num1 > num2:
    if num1 % 5 == 0:
        print("Num1 is greater and div by 5")
    else:
        print("num1 is greater")
elif num2 > num1:
    print("Num2 is greater ")
else:
    print("Both are equal")

num1 is greater

In [ ]:
PEP 8 standards

In [19]:
char = "a"
l = ['a','e','i','o','u']
if char in l:
    print("Vowel")
else:
    print("Consonent")

Vowel

In [28]:
# if 0:
#     print("Python")
# else:
#     print("Hi")

# ctrl /

Hi

In [ ]:
For 
While

In [ ]:
for [user_defined_variable] in [iterable_datatype]:
    statements

In [29]:
l = [10,20,30,40,50,60]
for value in l:
    print(value)

10
20
30
40
50
60

In [39]:
l = [10,20,30,40,50,60]
sum = 0
for value in l:
    sum = sum + value
print(sum)

210

In [40]:
l = [78,41,65,47,45,90,50,80]
max = 0 

for value in l:
    if value > max:
        max = value
print(max)

90

In [42]:
l = [78,81,95,85,65,47,45,90,50,80]
max = 0 
sec_max = 0 
for value in l:
    if value > max:
        sec_max = max
        max = value
    elif value > sec_max :
        sec_max = value
print(sec_max)

90

In [ ]:
value > max :
    sec_max  = max 
    max  = value

value  < max and value > sec_max:
    sec_max  = value 

value < sec_max

In [44]:
s = "Python sample string"
for value in s:
    print(value)

P
y
t
h
o
n

s
a
m
p
l
e

s
t
r
i
n
g

In [46]:
d = {1:1,2:4,3:9,4:16}
for key in d:
    print(key)

1
2
3
4

In [ ]:
break 
continue

In [68]:
l = [10,20,30,40,50,60,70,80,90]
key = 60

for value in l:  
    if value == key:
        print(True)
        break
else:
    print(False)

True

In [ ]:
# num = 1234

In [ ]:
num = 6
1 2 3 4 5 

6 = 1 +2 +3  = 6

In [ ]:
l = [10,20,30,40,50,60]

In [ ]:
range(10) 0 1 2 .... 9
range(10,50) 10 11 12 .... 49
range(10,50,5) 10 15 20 25 .... 45

In [69]:
for value in range(10,50):
    print(value)

10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [77]:
num = 24
sum = 0
for value in range(1,num):
    if num % value == 0: 
          sum = sum + value 
            
if sum == num:
    print("Perfect no")
else:
    print("Not a perfect no")

Not a perfect no

In [ ]:
24 = 1 2 3 4 6 8 12

In [78]:
for val1 in range(1,5):
    for val2 in range(100,105):
        print(val1,val2)

1 100
1 101
1 102
1 103
1 104
2 100
2 101
2 102
2 103
2 104
3 100
3 101
3 102
3 103
3 104
4 100
4 101
4 102
4 103
4 104

In [ ]:
   1    2   3  4   5 
1  1    2   3   4  5 
2  2    4   6   8   10   
3    
4    
5
6
7
8
9
10

In [82]:
print(10,20,end = " ",sep =",")
print("Hi")
print("Hello")

10,20 Hi
Hello

In [88]:
for val1 in range(1,11):
    for val2 in range(1,6):
        print(val1 * val2,end = "\t")
    print("\n")

1	2	3	4	5

2	4	6	8	10

3	6	9	12	15

4	8	12	16	20

5	10	15	20	25

6	12	18	24	30

7	14	21	28	35

8	16	24	32	40

9	18	27	36	45

10	20	30	40	50

In [89]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [95]:
l = [10,20,30,40,50]
# for index,value in enumerate(l):
#     print(index,value)
    
for index in range(len(l)):
    print(index,l[index])

0 10
1 20
2 30
3 40
4 50

In [ ]:
while [condition]:
    statemnts

In [ ]:
count = 1 
sum = 0 
while count <= 20:
    sum = sum + count
    count+=1

In [99]:
num = 4567
# print(456 // 10 )
# print(456 % 10 )

# 6
# 60 + 5 = 65
# 650 + 4 = 654 
rev = 0
while num != 0:
    rem = num % 10
    rev = rev * 10 + rem
    num = num // 10 

print(rev)

7654

In [104]:
l = [60,50,40,30,20,10]
# 50 40 30 20 10 60
# 40 30 20 10 50 60

count = 1
# len(l)-1
while count < len(l):
    for index in range(len(l)-1):
        if l[index] > l[index +1]:
            l[index],l[index + 1] = l[index +1],l[index]

    count+=1
print(l)

[10, 20, 30, 40, 50, 60]

In [ ]:
if condition:
    stateemnts
elif condition:
    staatemnts 
else:
    statemnts
    
for x in iterabeledatatype:
    statements 
    
l = ["Python","Java",10,20,30,40]
s = "Python sample string"
d = {}

for index,value in enumerate(l):
  
for index in range(len(l)):
    
    break 
else:     

init 
while condition:
    statemnts 
    increment