In [ ]:
Tuple : 
    - immutable => no methods to add update and delete 
    - ordered => indexing and slicing

In [9]:
t = (10,20,30,40,50,60)
print(t[0])
print(t[-1])
print(t[1:])
print(t[-2:1:-1])

10
60
(20, 30, 40, 50, 60)
(50, 40, 30)

In [11]:
t = (10,20,30,40,50,60)
t[2] = 200
print(t)

TypeError: 'tuple' object does not support item assignment

In [18]:
l = [10,20,30,40,50]
for index,value in enumerate(l):
    print(index,value)

0 10
1 20
2 30
3 40
4 50

In [17]:
x = (10,20)
print(x,type(x))

(10, 20) <class 'tuple'>

In [19]:
x = 100,200,3000,400,500,600
print(x)

(100, 200, 3000, 400, 500, 600)

In [28]:
x = (100,)
print(x,type(x),len(x))

(100,) <class 'tuple'> 1

In [32]:
t1 = (10,20,30,30,40)
print(t1.index(300))
print(t1.count(30))

ValueError: tuple.index(x): x not in tuple

In [35]:
# t1 = (10,20,30,40)
# print(id(t1))
# t2 = (100,200,300,400,500)
# t1 = t1 + t2
# print(id(t1))

# print(t1 * 2)

(10, 20, 30, 40, 10, 20, 30, 40)

### Dict :
- mutable => add update and delete 
- unordered => not support indexing and slicing 
- {"name":"ABC","email":"abc@gmail.com"}
- all the keys should be unique
- the datatype of key shoud be immutable => int ,float,str,tuple

In [ ]:
hash(name) => hash key = 5 
hash(email) = 2
hash table :
hash index key ref to val 

2        email    45000

5        name     10000
O(n)
O(1)

In [ ]:
MVT

In [57]:
d = {"name":"ABC","email":"abc@gmail.com","contact":9112345678}
print(d["name"])
print(d['contact'])

# print(d.get("age"))
# print(d.setdefault("name",35))
# print(d)


d['age'] = 35
print(d)

d['age'] = 40
print(d)

ABC
9112345678
{'name': 'ABC', 'email': 'abc@gmail.com', 'contact': 9112345678, 'age': 35}
{'name': 'ABC', 'email': 'abc@gmail.com', 'contact': 9112345678, 'age': 40}

In [62]:
d1 = {}
for key in range(1,16):
    d1.setdefault(key,key * key)
print(d1)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [63]:
d1 = {}
for value in range(ord('a'),ord('z')+1):
    d1.setdefault(chr(value),value)
print(d1)

{'a': 97, 'b': 98, 'c': 99, 'd': 100, 'e': 101, 'f': 102, 'g': 103, 'h': 104, 'i': 105, 'j': 106, 'k': 107, 'l': 108, 'm': 109, 'n': 110, 'o': 111, 'p': 112, 'q': 113, 'r': 114, 's': 115, 't': 116, 'u': 117, 'v': 118, 'w': 119, 'x': 120, 'y': 121, 'z': 122}

In [61]:
print(ord('a'),ord('z'))
print(chr(97),chr(122))

97 122
a z

In [72]:
l1 = [10,20,30,40,50,60]
l2 = "Python Hi"
l3 = list(zip(l1,l2))
print(l3)

for val1,val2 in l3:
    print(val1,val2)

[(10, 'P'), (20, 'y'), (30, 't'), (40, 'h'), (50, 'o'), (60, 'n')]
10 P
20 y
30 t
40 h
50 o
60 n

In [84]:
# d = {(1,10):3,(11,20):1,(21,30):0......(91,100):0}
# num = 45 
# l = [45,10,74,85,2,5,15]
# l1 = list(range(1,92,10))
# l2 = list(range(10,101,10))
# print(list(zip(l1,l2)))

d1 = {}
for key in zip(range(1,92,10),range(10,101,10)):
    d1.setdefault(key,0)

num = 45 
l = [45,10,74,85,2,5,15]
for num in l:
    for key in d1:
        if num >= key[0] and num <= key[1]:
            d1[key] = d1[key] + 1 
print(d1)

{(1, 10): 3, (11, 20): 1, (21, 30): 0, (31, 40): 0, (41, 50): 1, (51, 60): 0, (61, 70): 0, (71, 80): 1, (81, 90): 1, (91, 100): 0}

In [96]:
d = {"name":"ABC","email":"abc@gmail.com","contact":9112345678}
# for k in d:
#     print(k,d[k])
print(d.keys())
print(d.values())
print(d.items())

dict_keys(['name', 'email', 'contact'])
dict_values(['ABC', 'abc@gmail.com', 9112345678])
dict_items([('name', 'ABC'), ('email', 'abc@gmail.com'), ('contact', 9112345678)])

In [97]:
d = {"Java Dev":["Java8","Spring","SQL"],"ML engineer":["Python","scikit learn"],"Automaion engineer":["Python","Selenium"]}
# d2 = {"ML engg":["Python","scikit learn"],"Automation engg":["Python","selenium"]}
d2 = {}
for key,value in d.items():
    if "Python" in value:
          d2.setdefault(key,value)
print(d2)

{'ML engineer': ['Python', 'scikit learn'], 'Automaion engineer': ['Python', 'Selenium']}

In [ ]:
delete :
    popitem 
    pop
    clear 
    del

In [103]:
d = {"name":"ABC","email":"abc@gmail.com","contact":9112345678}
# r = d.popitem()
# print(d,r)

r =  d.pop("name")
print(d,r)

d.clear()
print(d)

del d
print(d)

{'email': 'abc@gmail.com', 'contact': 9112345678} ABC
{}

NameError: name 'd' is not defined

In [99]:
help(dict.popitem)

Help on method_descriptor:

popitem(...)
    D.popitem() -> (k, v), remove and return some (key, value) pair as a
    2-tuple; but raise KeyError if D is empty.

In [108]:
d1 = {1:1,2:4,3:9,4:16}
d2 = {3:25,6:36}
d1.update(d2)
print(d1)

print(d1 * 2)

{1: 1, 2: 4, 3: 25, 4: 16, 6: 36}

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [116]:
l1 = [1,2,3,4,5]
l2 = [1,4,9,16,25]
# l3 = dict(zip(l1,l2))
# print(l3)
# l3[6] = 36
# print(l3)

# l1 = [10,20,30,40,50]
# d2 = dict.fromkeys(l1,0)
# print(d2)

# d3 = dict.fromkeys(zip(range(1,92,10),range(10,101,10)),0)
# print(d3)

s = "PythonPythonJava"
d = dict.fromkeys(s,0)
print(d)

{'P': 0, 'y': 0, 't': 0, 'h': 0, 'o': 0, 'n': 0, 'J': 0, 'a': 0, 'v': 0}

In [ ]:
Add:
    setdefault 
    d[key] = value 
    
Update :
    d[key] = new_value
    
Delete :
    pop => key => value 
    popitem => 3.7 last key and value 
    clear => gives empty dict 
    del del ref